@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Rubik', sans-serif; 
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #fff; 
    background-color: #182f49; 
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 5%;
    min-height: 60vh;
}
p1 {
    font-size: 30px;
}


.ml12 {
    font-weight: 500;
    font-size: 1.8em;
    text-transform: uppercase;
  }
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }
.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
main {
    margin-left: 5%;
    width: 60%;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 15%;
    background-color: transparent;
}
nav a {
    font-size: 25px; /* Consistent font size */
    color: var(--gold);
    text-decoration: none;
    transition: 0.5s;
}
nav a:hover {
    color: var(--dgreen);
    transform: scale(1.06);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 16px; /* Ensure this matches `nav a` */
}
nav ul li {
    margin-bottom: 10px; /* Check if reducing this helps */
    line-height: 1.2; /* Adjust line height for better control */
}
@media (max-width: 768px) {
    nav {
        width: 100%;
    }
    nav ul {
        text-align: center;
    }
}
.social-icons a {
    display: block;
    margin-bottom: 10px;
    text-align: right;
}
button {
    background-color: transparent;
    color: white;
    border-radius: 0%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2f3652;
}
